@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

.v-link {
    @apply text-blue-400 hover:underline cursor-pointer;
}
